Pillow
mysqlclient
cryptography
redis<3
hiredis
gevent
celery
requests
django<3
channels<2
asgi_redis
django-grappelli
django-constance
django-redis-sessions
django-redis-cache
djangorestframework
django-restframework-apiview
wechatpy
