Pillow
mysqlclient
cryptography
redis
hiredis
gevent
celery
requests
django>=2.2
channels>=2.4
channels_redis
django-constance
django-redis-sessions
django-redis-cache
djangorestframework
django-cool>=1.0
wechatpy
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
